---
import Header from '../layout/Header.astro';
import Hero from '../sections/Hero.astro';
import ValueProposition from '../sections/ValueProposition.astro';
import AboutMeDisplay from '../sections/AboutMeDisplay.astro';
import Experience from '../sections/Experience.astro';
import MySkills from '../sections/MySkills.astro';
import MyProjectsDisplay from '../sections/MyProjectsDisplay.astro';
import ContactMe from '../sections/ContactMe.astro';
import MyLinks from '../sections/MyLinks.astro';
import Footer from '../layout/Footer.astro';
---

<>
  <Header />
  <main id="main">
    <Hero />
    <ValueProposition />
    <AboutMeDisplay />
    <Experience />
    <MySkills />
    <MyProjectsDisplay />
    <ContactMe />
    <MyLinks />
  </main>
  <Footer />
</>
