<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__copyright">
        <span class="footer__sentence">
          &copy;<span class="footer__copyright-year"></span>
        </span>
        <span class="footer__sentence">
          Built with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer"
            >Astro</a
          >
          and
          <a href="https://fontawesome.com/" target="_blank" rel="noopener noreferrer"
            >Font Awesome</a
          >
        </span>
      </div>
      <div class="footer__links">
        <a
          href="https://www.linkedin.com/in/tomdeluca/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Tom DeLuca's LinkedIn"
        >
          <span class="visually-hidden">Tom DeLuca's LinkedIn</span>
          <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
        </a>
        <a
          href="https://codepen.io/tomd0627"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Tom DeLuca's CodePen"
        >
          <span class="visually-hidden">Tom DeLuca's CodePen</span>
          <i class="fa-brands fa-codepen" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/tomd0627"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Tom DeLuca's GitHub"
        >
          <span class="visually-hidden">Tom DeLuca's GitHub</span>
          <i class="fa-brands fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="footer__tagline">
        <span class="footer__sentence">
          Made with <i class="fa-solid fa-heart" aria-label="love"></i> by Tom DeLuca
        </span>
      </div>
    </div>
  </div>
</footer>
