---
export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<a href="/" class="project-card-list__item-container animate-slide" aria-label={`${name} project`}>
  <div class="project-card-list__item">
    <div class="project-card-list__item__front">
      <slot name="project-card-image" />
      <h3>{name}</h3>
    </div>
    <div class="project-card-list__item__back">
      <slot />
    </div>
  </div>
</a>
